.Kulintang {
	display: flex;

	> button {
		flex: 1;
		height: 12rem;
		background-color: initial;

		&.hit {
			background-color: cyan;
		}

		&:not(.hit) {
			transition: background-color 250ms linear;
		}
	}
}
